html { width: 960px; margin: 0 auto; }

body { color: #333333; font-family: Helvetica, Arial, sans-serif; margin: 0 auto; width: 650px; }

input { font-family: inherit; }

h1, h1.method { font-size: 4em; text-align: center; position: relative; margin-bottom: 1em; margin-top: 1em; }

#badge { -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); position: absolute; display: block; font-size: 1.6em; font-weight: bold; background: black; color: white; top: 2.5em; left: -3em; width: 12em; padding: 0.25em; text-align: center; }

a { color: #d93312; text-decoration: none; }

a:hover { text-decoration: underline; }

a:active { opacity: 0.7; }

.method { text-align: center; margin: 0 auto; font-size: 1em; display: none; padding: 0; }

#method-input input { -moz-border-radius: 1em; -webkit-border-radius: 1em; -o-border-radius: 1em; -ms-border-radius: 1em; -khtml-border-radius: 1em; border-radius: 1em; font-size: 3em; margin: 0 auto; display: block; width: 1.5em; height: 1em; text-align: center; padding: 0.5em 0.25em; border: 2px solid; outline: none; }

#method-slider #choice-slider { -moz-border-radius: 1em; -webkit-border-radius: 1em; -o-border-radius: 1em; -ms-border-radius: 1em; -khtml-border-radius: 1em; border-radius: 1em; font-size: 2em; display: inline-block; width: 10em; background: white; border: 1px solid black; }
#method-slider p { display: inline-block; vertical-align: top; }
#method-slider .ui-slider-handle { -moz-border-radius: 1em; -webkit-border-radius: 1em; -o-border-radius: 1em; -ms-border-radius: 1em; -khtml-border-radius: 1em; border-radius: 1em; background: black; cursor: pointer; text-align: center; text-decoration: none; color: white; outline: none; font-size: 1em; padding: 0.25em; margin-top: -0.25em; }
#method-slider a.ui-slider-handle:hover { background: #d93312; }

#method-radio span { -moz-border-radius: 1em; -webkit-border-radius: 1em; -o-border-radius: 1em; -ms-border-radius: 1em; -khtml-border-radius: 1em; border-radius: 1em; display: inline-block; width: 1em; height: 1em; font-size: 2em; margin: 0; cursor: pointer; padding: 0.5em; text-align: center; }
#method-radio span:hover { background: #d93312; color: white; }
#method-radio span.selected { color: white; background: black; }

#method-select { height: 4em; position: relative; }
#method-select #selected-num { -moz-border-radius: 2em; -webkit-border-radius: 2em; -o-border-radius: 2em; -ms-border-radius: 2em; -khtml-border-radius: 2em; border-radius: 2em; cursor: pointer; font-size: 2em; width: 2em; height: 1.5em; padding-top: 0.5em; display: block; margin: 0 auto; background: black; color: white; }
#method-select ul { -moz-border-radius: 2em; -webkit-border-radius: 2em; -o-border-radius: 2em; -ms-border-radius: 2em; -khtml-border-radius: 2em; border-radius: 2em; position: absolute; top: 0; left: 0; list-style-type: none; padding: 0; display: none; margin: 0 auto; background: white; border: 1px solid black; width: 40em; }
#method-select li { -moz-border-radius: 1em; -webkit-border-radius: 1em; -o-border-radius: 1em; -ms-border-radius: 1em; -khtml-border-radius: 1em; border-radius: 1em; font-size: 2em; width: 2em; height: 1em; padding: 0.5em 0; text-align: center; cursor: pointer; display: inline-block; }
#method-select li.selected { background: black; color: white; }
#method-select li:hover { background: #d93312; color: white; }
#method-select #select-n { background: white; color: black; }

h1 p#instructions { position: absolute; text-align: left; font-size: 0.4em; width: 11em; margin: 0 auto; top: 5em; color: #999999; display: none; margin-left: 1.3em; }
h1 > div { display: inline-block; cursor: pointer; }
h1 > div:hover { color: #d93312; }
h1 > div:hover p#instructions { display: block; }

button, button.method { -moz-border-radius: 1em; -webkit-border-radius: 1em; -o-border-radius: 1em; -ms-border-radius: 1em; -khtml-border-radius: 1em; border-radius: 1em; font-size: 3em; font-family: inherit; display: block; margin: 0 auto; height: 2em; width: 5em; cursor: pointer; background: black; color: white; border: 0; }
button:hover, button.method:hover { background: #d93312; }
button:active, button.method:active { background: black; color: white; }
button:disabled, button.method:disabled { opacity: 0.1; }
button:disabled:hover, button.method:disabled:hover { background: black; cursor: default; }

img { position: absolute; top: 0; left: 0; display: none; }

#methods { height: 8em; }

#done { display: none; text-align: center; font-size: 3em; font-weight: bold; padding-top: 2em; }
#done p { font-size: 15px; }

#results-link { -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); position: absolute; display: block; top: 0.8em; left: 2em; font-variant: small-caps; margin: 5em auto; color: #cccccc; display: block; width: 10em; text-align: center; }

#results-link:hover { color: #d93312; text-decoration: none; }

#follow-up h2, #follow-up .instructions { text-align: center; }
#follow-up ul, #follow-up .instructions { margin-bottom: 2em; }
#follow-up p { font-weight: bold; font-size: 1em; }
#follow-up li { cursor: pointer; list-style-type: circle; border: 1px solid transparent; padding: 0.5em; }
#follow-up li.selected { font-weight: bold; list-style-type: disc; }
#follow-up li input { -moz-border-radius: 1em; -webkit-border-radius: 1em; -o-border-radius: 1em; -ms-border-radius: 1em; -khtml-border-radius: 1em; border-radius: 1em; margin-left: 1em; font-size: 1em; font-style: italic; width: 80%; margin-top: -0.25em; padding: 0.25em 1em; outline: none; border: 1px solid #cccccc; }

#footer { font-size: 12px; margin: 20px auto; text-align: center; }
#footer a { color: black; font-weight: bold; }
#footer a:hover { color: #d93312; text-decoration: none; }

.graph { width: 650px; height: 300px; margin-bottom: 2em; }

img { display: block; position: relative; margin: 0 auto; }

#spinner { position: relative; margin: 20px auto; }

#graphs { display: none; }
