h1 p#instructions {
    position: absolute;
    text-align: left;
    font-size: 0.4em;
    width: 11em;
    margin: 0 auto;
    top: 5em;
    color: #999;
    display: none;
    margin-left: 1.1em;
}
h1 > div {
    display: inline-block;
    cursor: pointer;
}
h1 > div:hover {
    color: #D93312;
}
h1 > div:hover p#instructions {
    display: block;
}
button {
    font-size: 3em;
    font-family: inherit;
    display: block;
    margin: 0 auto;
    height: 2em;
    width: 5em;
    cursor: pointer;
    background: black;
    color: white;
    border: 0;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}
button:hover {
    background: #D93312;
}
button:active {
    background: black;
    color: white;
}
button:disabled {
    opacity: 0.1;
}
button:disabled:hover {
    background: black;
    cursor: default;
}
img {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#methods {
    height: 8em;
}
.method {
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
    display: none;
    padding: 0;
}

#method-input input {
    font-size: 3em;
    margin: 0 auto;
    display: block;
    width: 1.5em;
    height: 1em;
    text-align: center;
    padding: 0.5em 0.25em;
    border: 2px solid;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    outline: none;
}

#method-slider #choice-slider {
    font-size: 2em;
    display: inline-block;
    width: 10em;
    background: white;
    border: 1px solid black;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}
#method-slider p {
    display: inline-block;
    vertical-align: top;
}
#method-slider .ui-slider-handle {
    background: black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    outline: none;
    font-size: 1em;
    padding: 0.25em;
    margin-top: -0.25em;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}
#method-slider a.ui-slider-handle:hover {
    background: #D93312;
}

#method-radio span {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: 2em;
    margin: 0;
    cursor: pointer;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    padding: 0.5em;
    text-align: center;
}
#method-radio span:hover {
    background: #D93312;
    color: white;
}
#method-radio span.selected {
    color: white;
    background: black;
}

#method-select {
    height: 4em;
    position: relative;
}
#method-select #selected-num {
    cursor: pointer;
    font-size: 2em;
    width: 2em;
    height: 1.5em;
    padding-top: 0.5em;
    display: block;
    margin: 0 auto;
    background: black;
    color: white;
    border-radius: 2em;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
}
#method-select ul {
    position: absolute;
    top: 0em;
    left: 0;
    list-style-type: none;
    padding: 0;
    display: none;
    margin: 0 auto;
    background: white;
    border: 1px solid black;
    border-radius: 2em;
    width: 40em;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
}
#method-select li {
    font-size: 2em;
    width: 2em;
    height: 1em;
    padding: 0.5em 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}
#method-select li.selected {
    background: black;
    color: white;
}
#method-select li:hover {
    background: #D93312;
    color: white;
}
#method-select #select-n {
    background: white;
    color: black;
}
#done {
    display: none;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    padding-top: 2em;
}
#done p {
    font-size: 15px;
}
#results-link {
    position: absolute;
    display: block;
    top: 0.8em;
    left: 2em;
    font-variant: small-caps;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin: 5em auto;
    color: #ccc;
    display: block;
    width: 10em;
    text-align: center;
}
#results-link:hover {
    color: #D93312;
    text-decoration: none;
}